.dashboard{
	font-size: 18px;
}

.line_dash{
	display: none;
}

.container_dash{
	margin-top: 20px;
	}

.ul_dash{
    list-style: none;
}

.a_dash{
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

.p_dash{
	width: 100%;
	text-align: justify;
}

.admin_dash{
	margin-top: 95px;
}

/*BREAKEPOINT 766****************/
/********************************/
@media(max-width:767px){
	.dashboard{
		font-size: 20px;
	}

	.dashboard ul{
		font-size: 20px;
	}

	.dashboard ul li{
		font-size: 20px;
	}

	.dashboard ul li a{
		font-size: 20px;
		line-height: 2.2;
	}

	.admin_dash{
		margin-top: 40px;
	}

	.line_dash{
		display: flex;
	}
}