/*.container-main{
	margin-top: 200px;
	display: flex;
	justify-content: center;
}

.position{
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 999;
	margin: auto;
}

.flash-msn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 800px;
}


.hide{
    margin-top: 110px;
    text-align: center;
    }
}
*/