.container-main{
	display: flex;
	justify-content: center;
}

.position{
	display: flex;
	justify-content: center;
	/*position: fixed;*/
	z-index: 999;
	align-items: center;
	width: 800px;
	margin: auto;
}


.hide{
    margin-top: 110px;
    margin-bottom: -200px;
    text-align: center;
    cursor: pointer;
    }
}
