.container_title{
	margin-top: 100px;
	text-align: center;
}

.wrap{
	margin-top: 200px;
}

.container_info{
	text-align: justify;
	margin-bottom: 200px;
}

.container_justify{
	text-align: justify;
}

.container_list{
	justify-content: left;
	margin-left: 10%;
	width: 90%;
}

.cdcr{
	width: 100%;
	margin: auto;
}

.container_cdcr{
	background-color: rgba(233,82,30,0.6);
	padding: 20px;
	color: white;
}

.icon-whatsapp{
	color: #25d366;
	}

.imgcdcr{
	width: 18%;
	margin: auto;
	}

.imgs_cdcr{
	width: 80%;
	margin: auto;
	}

@media(max-width: 920px){
	.imgcdcr{
		width: 30%;	
	}

	.container_info{
		text-align: justify;
		margin-bottom: 200px;
	}
}

@media(max-width: 768px){
	.container_info{
		/*margin-top: 200px;*/
		text-align: justify;
		margin: auto;
	}



	.container_list{
		justify-content: left;
		margin-left: 10%;
		width: 90%;
	}

	.imgcdcr{
		width: 30%;	
	}
}

@media(max-width: 575px){
	.container_info{
		text-align: justify;
		margin: auto;
		padding: 0px 30px;
	}

	.container_list{
		justify-content: left;
		width: 90%;
	}

	.imgcdcr{
		width: 40%;	
	}
}


@media(max-width: 500px){
	.container_info{
		text-align: justify;
		margin: auto;
		padding: 0px 30px;
	}

	.container_list{
		justify-content: left;
		margin-left: -40px;
		width: 90%;
	}

	.imgcdcr{
		width: 40%;	
	}
}


