*{
	margin: 0;
	padding: 0;
}

nav{
	background-color: rgba(233,82,30,0.6);
	box-shadow: 3px 3px 5px rgba(0,0,0, 0.1 );
	backdrop-filter: blur(10px);
	height: 90px;
}

nav ul{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav li{
	height: 50px;
}

nav a{
	height: 100%;
	padding: 0 30px;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: white;
	font-size: 20px;
}

nav a:hover{
	background-color: #f0f0f0f;
	font-size: 25px;
}

nav li: first-child{
	margin-right: auto;
	font-size: 25px;
}


.hideOnDesktop{
	display: none;
}

nav ul li span{
	margin-right: 10px;	
}


.sidebar{
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 250px;
	z-index: 999;
	background-color: rgba(233,82,30,0.6);
	backdrop-filter: blur(10px);
	box-shadow:-10px 0 10px rgba(0,79,0, 0.1);
	display: none;	
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	
}

.logoimagennav .letralogo{
	display: none;

}


.sidebar li{
	width: 100%;

}

.sidebar a{
	width: 100%;
}


.sidebar li:hover{
	width: 100%;
	font-size: 25px;
}

.sidebar a:hover{
	width: 100%;
	font-size: 25px;
}

.icon-menu{
	font-size: 25px;
	display: none;
}

.hikingNav{
	font-size: 25px;
	display: none;
}

.icon-cross{
	font-size: 25px;
}

.menu{
	display: none;
}





/*BREAKEPOINT 850****************/
/********************************/
@media(max-width: 850px){
	.menu{
		display: flex;
		transition: all 3s ease-in;
	}


	.icon-menu{
		font-size:38px;
		display:flex;
		margin-top: -12px;
	}

	.letralogo{
		color: white;
	}

	.text-hiking{
		color:  black; 
	}

	.logoimagennav .letralogo{
		margin: auto;
		margin-top: -9px;	
		display: inline-block;
		font-size: 20px;
		padding-right: 300px;
	}

	.hikingNav{
		font-size: 14px;
		display: flex;
		margin-top: 9px;
	}

	.icon-menu{
		font-size: 35px;
		display:flex;
	}

	.hideOnMobile{
		display: none;
	}

	.sidebar li{
		margin-top: 5px;
	}

	nav{
		background-color: rgba(233,82,30,0.6);
		box-shadow: 3px 3px 5px rgba(0,0,0, 0.1 );
		backdrop-filter: blur(10px);
		height: 80px;
	}

	li a{
		font-size: 25px;
	}
}





/*BREAKEPOINT 669****************/
/********************************/
@media(max-width: 663px){
	.logoimagennav .letralogo{
		margin-top: -9px;
		margin: auto;	
		display: inline-block;
		font-size: 20px;
		padding-right: 200px;
	}

	li a{
		font-size: 25px;
	}

	
}










/*BREAKEPOINT 555****************/
/********************************/
@media(max-width: 555px){
	.logoimagennav .letralogo{
		margin-top: -9px;
		margin-right: auto;
	}

	li a{
		font-size: 25px;
	}
}



/*BREAKEPOINT 547****************/
/********************************/
@media(max-width: 547px){
	.sidebar{
		background-color: rgba(233,82,30,0.8);
		backdrop-filter: blur(15px);
		width: 100%;
	}

	nav{
		background-color: rgba(233,82,30,0.6);
		box-shadow: 3px 3px 5px rgba(0,0,0, 0.1 );
		backdrop-filter: blur(10px);
		height: 80px;
	}


	.logoimagennav .letralogo{
		margin-top: -5px;
		padding-left:120px;
		display: inline-block;
		font-size: 20px;
	}

	.icon-menu{
		font-size:38px;
		display:flex;
		margin-top: -10px;
		}

	li a{
		font-size: 25px;
	}
}





/*BREAKEPOINT 410****************/
/********************************/
@media(max-width: 410px){
	.logoimagennav .letralogo{
		margin-top: -9px;
		display: inline-block;
		text-align: left;
		font-size: 16px;
		margin-left:-15px;
	}

	.hikingNav{
		font-size: 10px;
		display: none;
		margin-top: 9px;
	}

	li a{
		font-size: 25px;
	}
}

.index{
	margin-top: 200px;
}


/*BREAKEPOINT 348****************/
/********************************/
@media(max-width: 348px){
	.logoimagennav .letralogo{
		display: none;
	}

	.hikingNav{
		font-size: 10px;
		display: none;
		margin-top: 9px;
	}


	li a{
		font-size: 25px;
	}
}