{% extends "base.html" %}
{% block content %} 
<!-- |safe se encarga de reconocer caracteres como negritas, itálicas h1-h6 
	formatos etc sin eso sale la etiqueta pura -->

<div class="container posts ">
	<div class="column">
		<form action="" method="POST">
			{{ form.hidden_tag() }}

			{{ form.titulo.label(class="label") }}
			{{ form.titulo(class="input-titulo") }}
			<hr>
			{{ form.description.label(class="label") }}
			{{ form.description(class="input is-normal", rows="5") }}
			<br>
			{{ form.content.label(class="label") }}
			{{ form.content(class="input is-normal", rows="5") }}
			<br>
			{{ form.slug.label(class="label") }}
			{{ form.slug(class="input is-normal is-rounded") }}
			<br>
			{{ form.submit(class="button is-success is-ligh mt-5")}}
		</form>

		{{ckeditor.load()}}
		{{ckeditor.config(name="titulo", height=100)}}
		{{ckeditor.config(name="description", height=100)}}
		{{ckeditor.config(name="content", height=400)}}
		{{ckeditor.config(name="slug", height=100)}}
	</div>
</div>

{% endblock %}
