{% extends "base.html" %}
{% block content %} 
<!-- |safe se encarga de reconocer caracteres como negritas, itálicas h1-h6 
	formatos etc sin eso sale la etiqueta pura -->

<div class="container is-fluid">
    <div class="main-title has-text-centered">
		<h1 class="title ">{{titulo}}</h1>
   </div>
</div>

<div class="container">
	<div class="column">
		<div class="edit_container">
	
		<form action="" method="POST">
			{{ form.hidden_tag() }}
			
		<div class="field">
			<div class="control"> 
			{{ form.titulo(class="input", maxlength="150", placeholder="Titulo") }}
			</div>
		</div>

		<div class="field">
			<div class="control">	
			{{ form.descripcion(class="input", maxlength="150", placeholder="Descripción") }}
			</div>
		</div>

		<div class="field">
			<div class="control">			
			{{ form.slug(class="input", maxlength="150", placeholder="Slug") }}
			</div>
		</div>

		<div class="field">
			<div class="control">			
			{{ form.content(class="input", rows="5") }}
			</div>
		</div>		
			
			{{ form.submit(class="button is-success is-ligh mt-5")}}
		</form>



		{{ckeditor.load()}}
		<!-- {{ckeditor.config(name="titulo", height=100)}} -->
		<!-- {{ckeditor.config(name="descripcion", height=100)}} -->
		{{ckeditor.config(name="content", height=400)}}
		<!-- {{ckeditor.config(name="slug", height=100)}} -->
		<!-- evitar mensajes de error  de actualizacion de ckE	 -->
		<style>
	    	.cke_notifications_area { display: none; }
		</style>
	</div>
	</div>
</div>

{% endblock %}
