<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/p.png') }}">      
</head>

<body>   


<!-- /***********************************************************/
INCLUYE EL NAVBAR QUE SE ENCUENTRA EN templates/navbar.html
/************************************************************/-->
    {% include "navbar.html" %}
<!-- /***********************************************************/
/************************************************************/-->



<!-- /***********************************************************/
INCLUYE LOS MENSAJES QUE SE ENCUENTRA EN templates/flash.html
/************************************************************/-->    
    <div class="container is-fluid">  
        {% include 'flash.html' %}
    </div>  
<!-- /***********************************************************/
/************************************************************/-->

<div class="container is-fluid">  
        {% include 'form.html' %}
    </div>

  
<!-- /***********************************************************/
CONTENIDO HEREDADO DE OTRAS PLANTILLAS
/************************************************************/-->
    <div class="container is-fluid">
        {% block content %}
        {% endblock %}
    </div> 
<!-- /***********************************************************/
/************************************************************/-->
  





<div class="" style="border-left: 1px solid #999; padding:50px 50px;">
      {% set path = 'static/archivos/' %}
      {% for foto in list_Photos %}
        <div class="media">
          <img src="{{ path }}{{ foto }}" class="mr-3" alt="{{ foto }}">
          <div class="media-body">
            <h5 class="mt-0">
              <p>
                <span class="index">{{loop.index}}</span>
                <span class="namePhone">{{ foto }}</span>
              </p>
            </h5>
            <p>
              <a href="{{ url_for('EliminarFoto', nombreFoto = foto ) }}" type="button" class="btn btn-danger" style="margin-top: 40px;">Eliminar Archivo</a>
            </p>
          </div>
        </div>
      {% endfor %}
  </div>
</div>




























{% include "footer.html" %}        
     

   
    <!-- js scripts no borrar -->
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/buscador.js') }}"></script>
        <script src="{{ url_for('static', filename='js/cerrar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/eye.js') }}"></script>
        <script src="{{ url_for('static', filename='js/passError.js') }}"></script>

    <!--Scroll arriba -->
        <a href="#0" class="cd-top">Top</a>
        <script src="{{url_for('static', filename='js/jquery111.js')}}"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
        <script src="{{url_for('static', filename='js/timePicker.js')}}"></script>
       
    <!--Fin scroll arriba -->

       
  
</body>

</html>