<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no">
    
	
	<link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='fonts/style.css') }}">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='webfonts') }}"> -->
</head>

<body>   
    {% include "navbar.html" %}
    
    <div class="container is-fluid">  
        {% include 'flash.html' %}
    </div>  


     {%block title%}
        {%if titulo%}
        <div class="main-title">
            <h1 class="title is-1 has-text-centered mt-6">
               {{titulo}}
           </h1>
        </div>
        {%else%}
            <!-- Este title es por default -->
            <h2>Flask</h2>
        {%endif%}
    {%endblock%}


  

    <div class="container is-fluid">
        {% block content %}
        {% endblock %}
    </div> 
       <div class="titles">
   
    </div>
    {% include "footer.html" %}        
     

   
    <!-- js scripts no borrar -->
        <script src="{{ url_for('static', filename='js/popper.js')}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/passError.js') }}"></script>
        <script src="{{ url_for('static', filename='js/buscador.js') }}"></script>

    <!-- fin bootstrap js scripts no borrar -->

    <!--Scroll arriba -->
        <a href="#0" class="cd-top">Top</a>
        <script src="{{url_for('static', filename='js/jquery111.js')}}"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <!--Fin scroll arriba -->

    <!-- js -->
        
        <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/ionicons.js') }}"></script>
        <script src="{{ url_for('static', filename='js/eye.js') }}"></script>
        <script src="{{ url_for('static', filename='js/btndark.js') }}"></script>
        <script src="{{ url_for('static', filename='js/buscador.js') }}"></script>
        <script src="{{ url_for('static', filename='js/tabla.js') }}"></script>
        <script src="{{ url_for('static', filename='js/deleteUsers.js') }}"></script>
        <script src="{{ url_for('static', filename='js/navsticky.js') }}"></script> 
        <!-- <script src="{{ url_for('static', filename='js/cerrar.js') }}"></script>  -->
    <!-- <script src="{{ url_for('static', filename='js/inhabilitar.js') }}"></script>  -->
</body>

</html>