{% extends "base.html" %}
{% block content %} 

<div class="wrap">
	<div class="container cdcr">
		<img class="imgcdcr" src="{{ url_for('static', filename='img/LogoDCR.png')}}" alt="">
	</div>	

	<div class="container_title">
		<h1>{{title}}</h1>
	</div>

	<div class="container">
		<p class="container_justify">Alrededor del mundo existen alta variedad de lugares para disfrutar del hiking y Trekking de forma independiente o en grupos. Algunas más accesibles otras algo elevadas en costo económico, complejidad y dificultad, pero que poco nos podemos quejar de falta de opciones. Por mencionar algunas más famosas son:</p>
	</div>
	    
	<div class="container">		    
	    <ul>
	    	<li><i>America - </i><strong> Camino del Inca (Peru) </strong></li>
	    	<li><i>Europa - </i><strong> Camino de Santiago de Compostela (España) </strong></li>
	    	<li><i>Oceanía - </i><strong> Milford Track (Nueva Zelanda) </strong></li>
	    	<li><i>Asia - </i><strong> Trekking de los Annapurnas (Nepal) </strong></li>
	    	<li><i>Europa - </i><strong>  Tour del Mont Blanc (Francia) </strong></li>
	    	<li><i>Europa - </i><strong>Landmannalaugar (Islandia)</strong></li>
	    	<li><i>America - </i><strong>El Salkantay (Peru) </strong></li>
	    	<li><i>America - </i><strong>Ruta de los Volcanes (Guatemala) </strong></li>
	    </ul>
 	</div>
	
	<div class="container container_info">
		<p class="container_justify">En Costa Rica tenemos nuestro propio camino que ha ido en crecimiento debido a la gran labor de la Asociación Mar a Mar e integrantes de Camino de Costa Rica donde además de ejercitarse, conocer nuestro hermoso país tiene como objetivo incentivar la economía de las comunidades rurales brindando servicios a los caminantes quienes se pueden hospedar alimentar en proyectos familiares haciendo una sociedad colaborativa a precios muy accesibles, caminando por  lugares con alta variedad de flora y fauna.</p>

		<p class="container_justify">Esta Asociación Mar a Mar y Camino de Costa Rica son una asociación sin fines de lucro que diseñaron una ruta para comunicar el Atlantico con el pacífico a través de caminos rurales y de una gran belleza natural en una distancia aproximadamente de 280 kilómetros.</p>

		<p class="container_justify">Aunque para tener una experiencia total se puede contactar a grupos organizados que cuentan con paquetes completos como transporte, permisos,  alimentación, niveles de dificultad y alta cantidad de opciones dentro del calendario,  no siempre está al alcance economico de todas las personas y más si se debe asumir el costo de otros miembros de la familia que subiría considerablemente el precio final.</p>

		<p class="container_justify">El Camino de Costa Rica no se limita únicamente a grupos, sino a cualquier persona que cuente con una condición física aceptable y algo  de tiempo para poder realizar esta actividad. Cabe mencionar que para poder hacer este Camino, es necesario contar con mapas oficiales para no extraviarse entre los puntos de inicio y fin identificados por unos hitos o mojones. Para ello y antes de realizar la actividad es mejor contactar a personas con conocimiento que no tengan interés lucrativo de la ruta y solicitar información acerca de ella.</p>

		<p class="container_justify">La Tribu, realiza este tipo de caminatas, sin ningún afán de lucrar pero igual recomienda comprar en comercios a lo largo del camino para ayudar a impulsar toda la economía que se encuentren a lo largo de cada etapa.</p>

		<p class="container_justify">Esta actividad consta de 16 Etapas que van desde Parismina hasta  Quepos. Se puede realizar en orden o por etapas. La Tribu en su corta historia tiene realizadas las etapas: <strong>7, 8, 9, 10, 11, 12 y 13</strong> además de contar con el sello de grupo, donde también participan personas con mucha experiencia en el camino.</p>

		<p class="container_justify">Si deseas caminar con nosotros puedes registrarte para que alguno de los coordinadores se comunique contigo y seas parte de Caminos de Costa Rica de una forma económica donde cada persona lo único que asume es el costo del transporte con el que cuenta nuestro grupo. Lo que respecta a alimentación, cada persona lleva lo que desea para alimentarse pero siempre haciendo caso a las recomendaciones, o bien deteniendose en abastecedores o comercios afiliados a la Asociación para adquirir lo que requiera. En ocaciones nos detendremos en algún lugar previamente informado para almorzar, desayunar y/o tomar café.</p>

		<p class="container_justify">Hay etapas donde se deben cancelar rubros adicionales, y se indicarán previamente en flyers informativos o también costos en rutas donde existan zonas indigenas. Esos costos no tienen nada que ver con los gastos administrativos de un grupo, sino que son rubros que deben ser cancelados a los dueños de ciertas zonas de paso o guías de las zonas previamente autorizados por la Asociación. Debemos recordar que hay comunidades que viven precisamente de esta actividad y es uno de los objetivos de Camino de Costa Rica.</p>

		<p>Si deseas participar con La Tribu de Caminos de Costa Rica puedes registrarte en el enlace: <a href='{{url_for("registro")}}'>Registrarte</a></p>
	</div>	


	<div class="container-flex container_cdcr">
		<div class="container">
			<div class="row">
				<h1 class="text-center">Proximas Etapas:</h1>
				<div class="col-xs-12 col-md-4">
					<img src="{{url_for('static', filename='img/7.png')}}" class="rounded imgs_cdcr" alt="Cinque Terre">
				</div>
				<div class="col-xs-12 col-md-4">
					<img src="{{url_for('static', filename='img/8.png')}}" class="rounded imgs_cdcr" alt="Cinque Terre"> 
				</div>
				<div class="col-xs-12 col-md-4">
					<img src="{{url_for('static', filename='img/9.png')}}" class="rounded imgs_cdcr" alt="Cinque Terre"> 
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}