{% extends "base.html" %}
{% block content %} 
<div class="container container_pages">
	

<h1 class="text-center">{{title}}</h1>
<div class="time text-center text-light">{{date | fecha | capitalize}}</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero amet modi rem expedita illum quaerat. Sed quasi quos, facilis, laborum beatae officia earum blanditiis fuga et sint qui voluptate veniam!
Ea, error! Nisi unde dolor hic exercitationem facilis dolorum odit. Nesciunt amet officiis suscipit corporis iure magni ut. Explicabo aliquid necessitatibus molestiae illo quae nam vitae debitis enim? Delectus, qui.
Sunt cum laboriosam alias, consequuntur error eius tenetur voluptates molestias ut, laudantium dolorum ullam autem neque sapiente beatae, assumenda rem quod earum! A amet dolorem, quaerat accusamus ullam atque assumenda.
Eum rem, doloremque, ad eaque distinctio quasi recusandae nesciunt illum ea quam similique, debitis. Perspiciatis, incidunt quis odio ea, labore minima mollitia iste odit molestias maiores sint reiciendis voluptatibus nemo?
Molestiae, quibusdam atque nobis distinctio fugit corrupti. Temporibus provident, hic minus quibusdam. Incidunt, eos. Sunt, odio officiis ut cupiditate perferendis sit expedita magni a, ducimus cum repudiandae hic voluptates fuga.
Ipsum tempora, reprehenderit voluptates repellat quod et excepturi quasi possimus sed nisi harum beatae similique id. Vero, repudiandae. Veritatis modi sequi itaque nesciunt rem est odio animi temporibus fugit maxime?
Dolorum magnam assumenda dolore obcaecati atque praesentium accusantium illo ipsa similique voluptatum libero placeat, facilis asperiores, magni quos quasi ipsum modi aliquam iusto nostrum voluptatibus cupiditate odit! Voluptates unde, ab?
Voluptatem voluptate obcaecati, pariatur ipsum autem voluptatibus unde cum doloribus repellat labore perspiciatis assumenda commodi aliquid iste? Tempora magni, blanditiis ratione eligendi iusto esse ducimus cupiditate, harum dolor alias explicabo.</p>
</div>


{% endblock %}