{% extends "base.html" %}
{% block content %} 

<div class="wrap">
	<div class="container container_title">
		<h1>{{title}}</h1>
	</div>
	<div class="container container_info">
	    	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate libero maxime atque, et dolore dicta aliquid excepturi debitis earum corrupti harum sint consequuntur neque magni tempora, suscipit fuga veniam voluptatibus?
	    	Est ipsa beatae, corrupti laudantium. Quidem, in tempora, nulla quam optio fugiat repudiandae. Explicabo reprehenderit sit praesentium debitis, vitae ratione suscipit et pariatur aut expedita autem maiores in quas, neque!
	    	Enim alias perferendis asperiores ratione voluptatem, rem ut quo ab fugit id amet quis, velit eligendi sapiente quia esse officia, laboriosam eum maiores vel tempora maxime hic. Optio, sunt numquam!
	    	Aut at, sed, reprehenderit magni doloremque et culpa? Expedita quaerat eum, inventore sequi ut odio quidem omnis accusantium delectus, molestiae modi corporis itaque ipsa cum excepturi consequuntur ducimus maiores nesciunt?
	    	Quasi inventore minus voluptatem ea quas. Quisquam nam voluptatem minus dignissimos, incidunt iure dolore perferendis odit aliquam nulla soluta provident repellat fuga eligendi accusantium magnam alias error nostrum. Maiores, obcaecati.
	    	Temporibus doloribus, praesentium rem, officiis aperiam cupiditate non maxime magni velit consequuntur similique soluta recusandae optio autem vitae saepe expedita dignissimos in accusamus perspiciatis, obcaecati. Necessitatibus odit at repellendus repudiandae!
	    	Dolore, inventore enim molestiae soluta recusandae, ea quibusdam minus autem aut impedit cupiditate, tenetur odit exercitationem repellat commodi sequi deserunt, sit eos earum totam fuga! Sequi voluptate harum corrupti repudiandae.
	    	Unde tempore ab veritatis id culpa asperiores incidunt, exercitationem magni officiis excepturi numquam, necessitatibus quisquam, atque labore commodi. Eaque, architecto sequi velit, culpa aliquid reiciendis odio voluptatibus voluptatem ea quasi!
	    	Possimus itaque eaque laborum fugit non, nulla. Aliquam, quisquam quo amet, commodi atque vel iure natus, voluptate nisi consequatur tenetur. Nisi, et! Optio pariatur fugiat impedit, harum iusto illum amet!
	    	Maxime commodi dolores ratione facere dignissimos natus! Sint, neque vel totam facere recusandae. Reiciendis aperiam itaque incidunt eos quam, quas doloribus est, accusantium, aliquam pariatur tempore obcaecati. Numquam, placeat, fuga.
	    </div>
</div>
{% endblock %}