<div class="container card__container">
   <article class="card__article">
      <a href="{{url_for('caminocr')}}" class="card__button">
      <img src="{{ url_for('static', filename='img/1.png') }}" alt="image" class="card__img">

      <div class="card__data">
         <span class="card__description text-center"><strong>Camino de Costa Rica</strong></span>
         <h2 class="card__title">Por Etapas</h2>
         <hr>
         <a href="{{url_for('caminocr')}}" class="card__button">Conocer más</a>
      </div>
   </article>

   <article class="card__article">
      <a href="#" class="card__button">
      <img src="{{ url_for('static', filename='img/2.jpg') }}" alt="image" class="card__img">

      <div class="card__data">
         <span class="card__description text-center">Rutas de La Tribu</span>
         <h2 class="card__title">Dificultad</h2>
         <hr>
         <a href="#" class="card__button">Conocer más</a>
      </div>
   </article>

   <article class="card__article">
      <a href="{{url_for('caminocr')}}" class="card__button">
      <img src="{{ url_for('static', filename='img/card.jpg') }}" alt="image" class="card__img">

      <div class="card__data">
         <span class="card__description text-center"><strong>Otras Actividades</strong></span>
         <h2 class="card__title"></h2>
         <hr>
         <a href="#" class="card__button">Conocer más</a>
      </div>
   </article>
</div>
