<br>
<hr>
<div class="container cards">

	
	<div class="row">
		<div class="col-sm-12 col-md-4">
			<div class="title-card ">
			<a href="{{url_for('caminocr')}}" class="text-center text-a-card">El Camino de Costa Rica</a>
			</div>
			<div class="container-img-card">
				<a href="{{url_for('caminocr')}}"><img  src="{{ url_for('static', filename='img/1.png')}}" alt="image" class="img-fluid img-card" alt="Responsive image"></a>
			</div>
		</div>

		<div class="col-sm-12 col-md-4">

			<div class="title-card">
			<a href="#" class="text-center text-a-card">La Tribu Hiking</a>	
			</div>
			<div class="container-img-card">
				<a href=""><img  src="{{ url_for('static', filename='img/2.jpg') }}" alt="image" class="img-fluid img-card" alt="Responsive image"></a>
			</div>
		</div>

		<div class="col-sm-12 col-md-4">

			<div class="title-card">
			<a href="#" class="text-center text-a-card">Actividades Hiking</a>
			</div>	

			<div class="container-img-card">
				<a href=""><img  src="{{ url_for('static', filename='img/card.jpg') }}" alt="image" class="img-fluid img-card" alt="Responsive image"></a>
		    </div>
		</div>
	</div>
</div>