{% extends "base.html" %}
{% block content %}


<div class="wrap">

<div class="container mb-5">
  <form class="search">
    <div class="search__wrapper">
      <input id="buscador" type="text" name="buscador" placeholder="BUSCAR" class="search__field">
      <button type="submit" class="fa fa-search search__icon"></button>
    </div>
  </form>
</div>

<br>


<div class="container mt-5">
  <span>CANTIDAD DE CONTACTOS - <strong>{{users}}</strong></span>
</div>

<div class="container">
    <hr/>
  <div class="row">
    <table class="table table-striped">

    
       <thead>
        <tr>
          <th scope="col">
            VER
          </th>
          <th scope="col">NOMBRE</th>
          <th scope="col">APELLIDO 1</th>
          <th scope="col">APELLIDO 2</th>
          <th scope="col">TELEFONO</th>
          <th scope="col">EMERGENCIA</th>
          <th scope="col">EDICION</th>
          <th scope="col">BORRAR</th>
        </tr>
      </thead>
      
      <tbody>
       
        {% for items in values %}
          <tr class="search_article" >
            <th scope="row">
            <a href="{{url_for('update', id=items.id)}}"><span class="icon-eye"></span></a>
            </th>


            <td>{{items.username.title()}}</td>
            <td>{{items.apellido.title()}}</td>
            <td>{{items.apellido2.title()}}</td>
            <td>{{items.celular}}</td>
            <td>{{items.telefonoE}}</td>

            <!-- CELDA DE EDITAR -->
            <td>
              {%if current_user.email == "kenth1977@gmail.com" or current_user.email == "jceciliano69@gmail.com"%}        
                  {%if current_user.id == items.id%}
                    <!-- AGREGAR USUARIO -->
                    <a href="{{url_for('registro')}}" class="btn icon-plus"></a>
                    <!-- EDITAR USUARIO -->
                    <a href="{{url_for('update', id=items.id)}}"class="btn icon-pencil2"><i hidden>{{items.id}}</i></a>
                  {%elif current_user.id != items.id %}
                    <!-- AGREGAR USUARIO -->
                    <a href="{{url_for('registro')}}" class="btn icon-plus"></a>
                    <!-- EDITAR USUARIO -->
                    <a href="{{url_for('update', id=items.id)}}"class="btn icon-pencil2"><i hidden>{{items.id}}</i></a>
                    {%else%}       
                  {%endif%}
                {%endif%} 
            </td>

            <!-- CELDA DE BORRAR -->
            <td>
                {%if current_user.email == "kenth1977@gmail.com" or current_user.email == "jceciliano69@gmail.com"%}        
                  {%if current_user.id == items.id%}
                  {%elif current_user.id != items.id %}
                    <!-- BORRAR USUARIO -->
                    <a href="{{url_for('delete', id=items.id)}}" class="btn icon-bin2" onclick="return ConfirmDelete()"><i hidden></i></a>
                  {%else%}       
                  {%endif%}
                {%endif%} 

            </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}


