{% extends "base.html" %}
{% block content %}


<div class="wrap">
  <div class="container cdcr">
    <div class="container_title">
      <h1>{{title}}</h1>
    </div>

   
    Cantidad de Personas registradas {{users}}
    <hr>
    {%for items in values%}
      {%if current_user.id == items.id %}
        <h1>ACTIVO</h1>
        <p class="">{{items.username.title()}} {{items.apellido.title()}} {{items.apellido2.title()}}</p>
        <p class="">{{items.email}}</p>
      {%else%}
        <p class="">{{items.username.title()}} {{items.apellido.title()}} {{items.apellido2.title()}}</p>
        <p class="">{{items.email}}</p>
      {%endif%}
      <span class=" icomoon-contacts-ico icon-phone"></span>
        {%if items.telefono%}
          {{items.telefono}}
        {%else%}
        {%endif%}
        
      <span class=" icomoon-contacts-ico icon-mobile2"></span>   
        {%if items.celular%}
          {{items.celular}}
        {%else%}
        {%endif%}


<!-- SI EL MAIL ES: puedo borrar y modificar usuarios -->
{%if current_user.email == "kenth1977@gmail.com" or current_user.email == "jceciliano69@gmail.com"%}        
  {%if current_user.id == items.id%}
      <a href="{{url_for('registro')}}" class="">
      Agregar Usuario
      </a>
      
      <a href="{{url_for('update', id=items.id)}}"class="">
      Editar Contacto<i hidden>{{items.id}}</i>
      </a>

     <!--  <a href="{{url_for('delete', id=items.id)}}" class="card-footer-item" onclick="return ConfirmDelete()">     Borrar Contacto<i hidden></i>
      </a> -->

      <!-- si el id del usuario actual es igual al id de la base de datos quita el botón para que no se pueda autoborrar -->
      <!-- descomentar para que se vea el botón de borrar en el usuario activo -->
    
  {%elif current_user.id != items.id %}
    <a href="{{url_for('registro')}}" class="">
    Agregar Usuario
    </a>
      
    <a href="{{url_for('update', id=items.id)}}"class="">
    Editar Contacto<i hidden>{{items.id}}</i>
    </a>

    <a href="{{url_for('delete', id=items.id)}}" class="card-footer-item" onclick="return ConfirmDelete()"> Borrar Contacto<i hidden></i>
    </a>
    {%else%}       
      <!-- <a href="{{url_for('delete', id=items.id)}}" class="card-footer-item" onclick="return ConfirmDelete()">     Borrar Contacto<i hidden></i>
      </a> -->
    {%endif%}
  {%else%}

  {%endif%}

    <hr>  
{%endfor%}
   </div>
 </div>
{% endblock %}