{% extends "base.html" %}
{% block content %} 
<div class="wrap">
	<div class="container cdcr">
		<h2 class="text-center">Configuración General</h2>
		<h4 class="text-center text-success">{{ current_user.username | title }}
			{{current_user.apellido | title}}
			{{current_user.apellido2 | title}}</h4>			
		<hr>	

	</div>


	<div class="dashboard">
		<div class="container cdcr">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				{% if current_user.is_authenticated %}
					<h4>Mi Perfil</h4>

				<br> 
				<strong>NOTA:</strong>
				<br>
				<p class="p_dash">Los datos aquí incluidos solo pueden ser vistos por los coordinadores del Grupo de La Tribu Hiking. Es importante colocar los datos solicitados para tener conocimiento del participante en caso de una	situación de Emergencia.</p> 

				<a class="a_dash" href="{{url_for('update_profile', id=current_user.id)}}"><span class="icomoon-dash-ico icon-pencil "></span> Agregar datos o Modificar Perfil</a>
				<hr>
				  	<ul class="ul_dash">
				  		<li><strong>NOMBRE: </strong>{{ current_user.username | title }}</li> 
				  		<li><strong>PRIMER APELLIDO:</strong> {{current_user.apellido | title}}</li>	
						<li><strong>SEGUNDO APELLIDO:</strong> {{current_user.apellido2 | title}}</li>
				  		<li><strong>EMAIL: </strong> {{current_user.email}}</li>
				  		<li><strong>RESIDENCIA: </strong>{{current_user.residencia | title }}</li>
				  		<li><strong>TELEFONO: </strong>{{current_user.telefono}}</li>
				  		<li><strong>TELEFONO EMERGENCIA 1: </strong>{{current_user.telefonoE}}</li>
				  		<li><strong>TELEFONO EMERGENCIA 2: </strong>{{current_user.celular}}</li>
				  		<li><strong>ALERGIAS: </strong>{{current_user.alergias | title }}</li>
				  		<li><strong>TIPO DE SANGRE: </strong>{{current_user.tiposangre | title }}</li>
				  		<li><strong>ENFERMEDADES CRÓNICAS: </strong>{{current_user.cronico | title }}</li>
				  		<li><strong>MEDICAMENTOS: </strong>{{current_user.medicamentos | title }}</li>
				  		<li><strong>FECHA NACIMIENTO: </strong>{{current_user.nacimiento | title }}</li>
			  		</ul>
				{% endif %}
				
			</div>

			
		<div class="col-sm-12 col-md-6">
			<div class="admin_dash">
				<ul class="ul_dash">
					
					<!-- si el mail es cualquiera de los 2 muestra las dos opciones  -->
					{%if current_user.email == "kenth1977@gmail.com" or current_user.email == "jceciliano69@gmail.com"%}  
					<a class="has-background-danger-light a_dash"><span class=" icomoon-dash-ico fas fa-solid fa-address-book"></span> <strong>Administrador de Usuarios</strong></a>
					<hr class="line_dash">      
	  				<li><a class="a_dash" href="{{url_for('registro')}}"><span class="icomoon-dash-ico icon-user-plus"></span> Agregar amigo o familiar</a></li>
				    <li><a class="a_dash" href="{{url_for('contacts')}}"><span class="icomoon-dash-ico icon-user-minus"></span> Borrar y editar usuarios</a>
				    <li><a class="a_dash" href="{{url_for('contacts')}}"><span class="icomoon-dash-ico icon-profile"></span> Agenda</a>
    				<li><a class="a_dash" href="{{url_for('html5')}}"><span class="icomoon-dash-ico icon-user"> </span>Etiquetas HTML y CSS</a></li>

				    
				    <!-- sino solo muestra agregar amigo o familiar -->
				    {%else%}
				    	
				    {%endif%}
			      	</ul>
			  	<br>
					<ul class="ul_dash">
					    <!-- <li><a>Team Settings</a></li> -->
					    <li>
					      <a class="has-background-danger-light a_dash"><span class=" icomoon-dash-ico icon-quill"></span> <strong>Administrador de Posts</strong></a>
					      <hr class="line_dash">
					    <li><a class="a_dash" href="{{url_for('add_post')}}"><span class="icomoon-dash-ico icon-pencil"></span> Crear Posts</a></li>
					    <li><a class="a_dash" href="{{url_for('post')}}"><span class="icomoon-dash-ico icon-bin"></span> Borrar y editar Posts</a></li>
					    <li><a class="a_dash" href="{{url_for('advanceSearch')}}"><span class="icomoon-dash-ico icon-binoculars"></span> Buscar Posts</a></li>
					    <li><a class="a_dash" href="{{url_for('add_Video')}}"><span class="icomoon-dash-ico icon-play"></span> Agregar Videos</a></li>
				




					    <hr>	
						<a href="{{url_for('card')}}"><span><h2 class="text-center text-info">GENERAR CARNET</h2></span></a>
					    <br>
					    <li><a class="a_dash" href="{{url_for('logout')}}"><span class="text-danger icomoon-dash-ico icon-switch"></span><strong class="text-danger"> Cerrar Sesion</strong></a></li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>	
</div>    
	
{% endblock %}
