{% extends "base.html" %}
{% block content %} 

<div class="container container_title">
    <h1 class="Display 6 animate__animated animate__swing">EDITAR UN POST</h1>
   <!--  <h2 class="Display 5 animate__bounceIn"><span class="text-success ">A LA TRIBU</span> <strong>HIKING C.R.</strong></h2> -->
</div>

<div class="container">
	<div class="edit_container">
		<form action="" method="POST">
			{{ form.hidden_tag() }}

			{{ form.titulo.label(class="label") }}<br>
			{{ form.titulo(class="form-control is-normal", maxlength="150") }}
			<br>
			{{ form.descripcion.label(class="label") }}<br>
			{{ form.descripcion(class="form-control", maxlength="150") }}
			<br>
			{{ form.slug.label(class="label") }}
			{{ form.slug(class="form-control is-rounded", maxlength="150") }}
			<br>
			{{ form.content.label(class="label") }}
			{{ form.content(class="input is-normal", rows="5") }}
			
			<br>
			{{ form.submit(class="button is-success is-ligh mt-5")}}
		</form>



		{{ckeditor.load()}}
		<!-- {{ckeditor.config(name="titulo", height=100)}} -->
		<!-- {{ckeditor.config(name="descripcion", height=100)}} -->
		{{ckeditor.config(name="content", height=400)}}
		<!-- {{ckeditor.config(name="slug", height=100)}} -->
		<!-- evitar mensajes de error  de actualizacion de ckE	 -->
		<style>
	    	.cke_notifications_area { display: none; }
		</style>
	</div>
</div>



{% endblock %}
