    <div class="container container-flip">
      <div class="front-face">
        <div class="cover">
          <img src="profile.png" class="profile">
        </div>
        <div class="name">GANDOCA MANZANILLO</div>
        <div class="tag">Web Designer</div>
        <p class="about line-limiter">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, culpa, voluptatum. Esse recusandae fugit ipsum amet doloremque repellat minima, totam illo fuga facere adipisci doloribus rem modi cum pariatur. Saepe.
          lorem*20
        </p>

        <footer class="mt-5">
          
        </footer>


      </div>
      
      <div class="back-face">
        <div class="h1-flip">flip</div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, perspiciatis. Fugiat inventore porro, ducimus quae iure alias, nesciunt ab a accusantium repellat perspiciatis, pariatur quia perferendis modi blanditiis odio repellendus mollitia cum consequatur! Fuga laudantium id nobis libero totam, ipsum tenetur dolores quaerat officia aspernatur maxime iste, deserunt enim pariatur accusantium dolor excepturi sed quo!</p>

        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-linkedin"></i>
      </div>

    </div>

