<form action="{{ url_for('registarArchivo') }}" method="POST" autocomplete="off" enctype="multipart/form-data">
	<!-- UPLOADER IMAGEN CON NOMBRE PRE CARGADO Y JS -->
	
		<div id="file-js-example" class="file has-name mt-5">
		  <label class="file-label">
		    <input class="file-input" type="file" name="archivo" />
		    <span class="file-cta">
		      <span class="file-icon">
		        <span class="icon-cloud-upload"></span>
		      </span>
		      <span class="file-label"> Selecciones una Imagen </span>
		    </span>
		    <span class="file-name"> No hay archivo Cargado </span>
		  </label>
		</div>
		  
		<script>
		  const fileInput = document.querySelector("#file-js-example input[type=file]");
		  fileInput.onchange = () => {
		    if (fileInput.files.length > 0) {
		      const fileName = document.querySelector("#file-js-example .file-name");
		      fileName.textContent = fileInput.files[0].name;
		    }
		  };
		</script>
	<!-- FIN UPLOADER IMAGEN CON NOMBRE PRE CARGADO Y JS -->
    <div class="form-group mb-5 text-center mt-5">
     <button type="submit" class="btn btn-primary btn-sm">Enviar Archivo</button>
    </div>
</form>

