{% extends "base.html" %}
{% block content %}

    <div class="container title-home">
        <h1 class="title_h1 Display 6 animate__animated animate__swing">BIENVENIDOS</h1>
        <h2 class="title_h2 Display 5 animate__bounceIn"><span class="text-success ">A LA TRIBU</span> <strong>HIKING C.R.</strong></h2>
    </div>

    {% include "cards.html" %}


    <div class="index">
       	<div class="container">
        	<h1 class="text-center mt-5 text-success display-3"></h1>
        </div> 

        <div class="container ">
        	<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dicta velit aut quas quaerat, porro ipsam ab accusamus at reprehenderit? Nesciunt sunt, eveniet, similique laudantium in vero quia voluptate minima.</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet atque neque animi molestias alias dolorem omnis vel, possimus fuga sit nemo natus ullam eius fugiat, ducimus nihil harum qui quo!
            Odit, facilis, iste. Quis rerum at hic perferendis expedita omnis placeat repudiandae vel dolore unde, ipsum deleniti accusantium, maxime, libero eveniet atque ab et dignissimos? Delectus, iusto dolorum. Quibusdam, necessitatibus.
            Voluptatibus commodi ullam dicta quasi totam similique architecto laboriosam, minus nam enim placeat asperiores ratione cum suscipit blanditiis accusantium nobis nemo, provident vitae quae quia alias pariatur reprehenderit laborum! Tenetur.
            Dolore vero, sequi facere sapiente recusandae vitae enim, provident aperiam reiciendis earum dignissimos quod eveniet! Aliquam ab illum amet fugit corporis tenetur voluptatibus, itaque voluptatum suscipit quaerat quidem laudantium accusamus!
        </div>

   

<!--     <div class="container">
    	 <hr class="my-4">
    	<p>Tienes una cuenta?</p>
    </div> -->

</div>
{% endblock %}