{% extends "base.html" %}
{% block content %} 

	<!-- LOGIN -->
	{% include 'flash.html' %}
<div class="wrap">
<div class="container container-forms">
<div class="row">
			
	<div class="col-xs-12 col-md-6">
		<div class="container container_register">	
			<div class="container_form">
			    <div class="login form">
			    	{% if current_user.is_authenticated %}
			    	<a class="text-success text-center" href="{{url_for('dashboard')}}"><h5>VOLVER A DASHBOARD</h5></a></header>
					<p class="text-center">
			     		<h5 class="text-center">Estás logeado con {{current_user.email}}</h5> 
			     	</p>
			     	<hr>
			     	<br>
			     	<a class="a_dash" href="{{url_for('logout')}}"><span class="icomoon-dash-ico icon-switch"></span><strong> Cerrar Sesion</strong></a>
			      	{%else%}
			      	<header class="text-center header_form">Inicio <a class="text-danger" href="{{url_for('registro')}}"><h5>REGISTRARME</h5></a></header>
					<form class="form-signin" action="" method="POST" name="form">
				        {{form.hidden_tag()}}
				          
				        {{form.email(placeholder="Usuario",  id="email").lower()}}
		        		{{form.password(placeholder="Password",  id="password", type="password" )}}
		        		 <i class="icon is-small is-right icon-eye" onclick="myFunction1()"> Mostrar</i>

		        		<hr>
		        		<input type="submit" class="button" value="Iniciar" name="submit">
					    <a href="#">Olvidó la Contraseña?</a>
					</form>

				    <div class="signup">
					    <a class="texr-dark" href="{{url_for('registro')}}"><span class="text-dark">Aun no tienes cuenta?</span></a>
					</div>
					{%endif%}

				</div>
		 	</div>
		</div>
	</div> 	<!-- col 2 -->



	<div class="col-xs-12 col-md-6">
		<h2 class="text-warning">Datos de Privacidad</h2>
		<hr>

		<strong>¿Porque necesito registrarme para ver el contenido?</strong>
			<p class="container_justify">El grupo de La Tribu Hiking a pesar de ser un grupo sin fines de lucro y es decisión de cada quien participar libremente sea en esta o demás agrupaciones,  intentamos conocer a las personas que van a integrar nuestra familia, con el fin de mantener el orden y un clima armonía y un ambiente libre de negativismo.  </p>

		<strong>¿Que debo hacer para formar parte de La Tribu Hiking?</strong>
			<p class="container_justify">Puedes contactarte con alguno de los coordinadores a los teléfonos <span class="icon-whatsapp"></span> <strong class="text-warning"> 86227500 | 8652 9837</strong> o bien registrarte directamente en este sitio donde nosotros revisamos y nos pondremos en contacto con cada nuevo miembro. Este paso es importante ya que evitamos se filtre información del grupo a manos de antisociales que monitore donde se encuentra el grupo.</p>

		<strong>¿Es seguro registarme y Quien maneja mis datos?</strong>
			<p class="container_justify">Este sitio web fue construido con módulos que encriptan la información sensible, de tal forma que ni el desarrollador, puede conocer la contraseña de ingreso. Los datos son administrados en una base de datos en la nube del hosting que se comprometen a resguardar todo el contenido. La Tribu, administrará esos datos únicamente para situaciones de emergencia y/o notificar al usuario de actividades.</p>

		<a href=""><strong class="text-danger">Información Técnica del sitio</strong></a>
			

	</div> <!-- col1 -->


</div><!-- #row -->
</div> <!-- container -->
</div> <!-- wrap -->
{% endblock %}