{% extends "base.html" %}
{% block content %} 
<div class="container is-fluid">
    <div class="main-title has-text-centered">
		<h1 class="title ">{{titulo}}</h1>
   </div>
</div> 



<div class="columns">
	<div class="column">
	<!-- LOGIN -->

		   	{% if current_user.is_authenticated %}
		    	<a class="text-success text-center" href="{{url_for('dashboard')}}"><h5>VOLVER A DASHBOARD</h5></a></header>
				<p class="text-center">
		     		<h5 class="text-center">Estás logeado con {{current_user.email}}</h5> 
		     	</p>
		     	<hr>
		     	<br>
		     	<a class="a_dash" href="{{url_for('logout')}}"><span class="icomoon-dash-ico icon-switch"></span><strong> Cerrar Sesion</strong></a>
		    {%else%}

		    	<div class="Form_container">
			      	<header class="text-center header_form">{{titulo}}<a class="text-danger" href="{{url_for('registro')}}"> | Registro</a></header>



					<form class="form-signin mt-5" action="" method="POST" name="form">
				        {{form.hidden_tag()}}
				          

				        <div class="field">
					        <div class="control">  
				        		{{form.email(placeholder="Usuario",  id="email", class="input").lower()}}
				        	</div>		
				        </div>	

				        <div class="field">
					        <div class="control">
		        				{{form.password(placeholder="Password",  id="password", type="password" , class="input")}}
		        		   	</div>		
				        </div>

				      	 <button class="button mr-100" type="button">
   						 	<span class="icon is-small">	
		        				<i class="icon is-small is-right icon-eye" onclick="myFunction1()"></i>
		        		 	</span>
  						</button>


		        	
				        <div class="control mt-5">
	        				<input type="submit" class="button is-fullwidth is-rounded " value="Iniciar" name="submit">
	        			</div>
						
						<div class="forgot_Pass" >
							<span class="icon-heart-broken"></span>
						 	<a href="#">Olvidó la Contraseña?</a>
						</div>
					<hr>

					
					</form>

				    <div class="tag is-danger ">
					    <a class="has-text-white" href="{{url_for('registro')}}">Aun no tienes cuenta?</a>
					</div>
				</div>
			{%endif%}

</div>


<div class="column">
	<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button is-success">Save changes</button>
        <button class="button">Cancel</button>
      </div>
    </footer>
  </div>
</div>


	
<button class="js-modal-trigger" data-target="modal-js-example">
	<h2>Datos de Privacidad</h2>
</button>
		<hr>

		<p class="is-size-5 has-text-black-ter  mt-5">¿Porque necesito registrarme para ver el contenido?
		</p>

			<p class="has-text-justified has-text-grey mt-5">El grupo de La Tribu Hiking a pesar de ser un grupo abierto para tod@s y es decisión de cada quien participar libremente sea en esta o demás agrupaciones,  intentamos conocer a las personas que van a integrar nuestra familia, con el fin de mantener el orden en el clima, armonía y un ambiente libre de negativismo.</p>

		<p class="is-size-5 has-text-black-ter  mt-5">¿Que debo hacer para formar parte de La Tribu Hiking?
		</p>	

			<p class="has-text-justified has-text-grey mt-5">Puedes contactarte con alguno de los coordinadores a los teléfonos <span class="icon-whatsapp has-text-success"></span> <strong class="has-text-success"> 86227500 | 8652 9837 | 87984232</strong> o bien registrarte directamente en este sitio donde nosotros revisamos y nos pondremos en contacto con cada nuevo miembro. Este paso es importante ya que evitamos se filtre información del grupo a manos de antisociales que monitore donde se encuentra el grupo.</p>

		<p class="is-size-5 has-text-black-ter  mt-5">¿Es seguro registarme y Quien maneja mis datos?
		</p>	

		<p class="has-text-justified has-text-grey mt-5">Este sitio web fue construido con módulos que encriptan la información sensible, de tal forma que ni el desarrollador, puede conocer la contraseña de ingreso. Los datos son administrados en una base de datos en la nube del hosting que se comprometen a resguardar todo el contenido. La Tribu, administrará esos datos únicamente para situaciones de emergencia y/o notificar al usuario de actividades.</p>
	</div>			
</div>


{% endblock %}