<nav class="fixed-top navbar">
    <ul class="sidebar">

        <li class="mt-5" onclick=cerrarBarra()><a  href="#"><span class="icon-cross"></span></a></li>
        <hr class="separador">
        <li class="mt-5"><a  href="{{url_for('home')}}"><span class="icon-home"> </span>Inicio</a></li>
        <hr class="sidebarline">
        <li><a  href="#"><span class="icon-user"> </span>Registro</a></li>
        <hr class="sidebarline">
        <li><a  href="#"><span class="icon-home"> </span>Enlace</a></li>
        <hr class="sidebarline">
        <li><a  href="#"><span class="icon-home"> </span>Enlace</a></li>
        <hr class="sidebarline">
    </ul>

    <ul>
        <div class="container logoimagennav">
        <h1 class="letralogo text-nowrap ">LA TRIBU <small class="hikingNav text-light">HIKING</small></h1>
        <hr class="separador">
        </div>
        <li class="hideOnMobile"><a  href="{{url_for('home')}}"><span class="icon-home"> </span> Inicio</a></li>
        <li class="hideOnMobile"><a  href="#"><span class="icon-user"> </span>Registro</a></li>
        <li class="hideOnMobile"><a  href="#"><span class="icon-home"> </span>Enlace</a></li>
        <li class="hideOnMobile"><a  href="#"><span class="icon-home"> </span>Enlace</a></li>
        <li class="hideOnMobile"><a  href="#"><span class="icon-home"> </span>Enlace</a></li>
        <li class="menu" onclick=mostrarBarra()><a href="#"><span class="icon-menu" height="20"></span></a></li>
    </ul>
    
</nav>





