{% extends "base.html" %}
{% block content %}

<div class="container is-fluid">
    <div class="main-title has-text-centered">
    <h1 class="title ">{{titulo}}</h1>
   </div>
</div> 



  <!-- si el mail es cualquiera de los 2 muestra las dos opciones  -->
  {%if current_user.email == "kenth1977@gmail.com" or current_user.email == "jceciliano69@gmail.com"%}  
    <button class="button is-rounded "><a class="has-text-warning" href="{{url_for('add_post')}}">Crear un nuevo Post</a>
    </button>
  <hr>
  {%else%}
  {%endif%}
   




{%for post in post%}




          
<!-- 
              <div class="media-left">
                <figure class="">
                  <img src="{{url_for("static",filename='img/3.jpg')}}"
                    alt="Placeholder image" width="300px"/>
                </figure>
              </div> -->






              <div class="media-content">
                <p class="title is-4">{{post.titulo|safe}}
                <p class="title is-4">Hora de Salida: {{post.hora|safe}}am</p>
               
              </div>
            </div>

            <div class="content">
              {{post.content|safe}}
              iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
              <a href="#">#responsive</a>
              <br />
           
            </div>
          </div>


          {%if current_user.email == "kenth1977@gmail.com" or current_user.email == "jceciliano69@gmail.com"%}  
          <div class="card mt-4">
          <footer class="card-footer">
          <a href="{{url_for('add_post', id=post.id)}}" class="card-footer-item">Ver más</a>
          <a href="{{url_for('edit_post', id=post.id)}}" class="card-footer-item">Edit</a>
          <a href="{{url_for('delete_post', id=post.id)}}" class="card-footer-item">Delete</a>
          </footer>
          </div>
          {%else%}
          {%endif%}
        
        </div>
      </div>
  </div> 

    {%endfor%}
  
</div>


{% endblock %}