{% extends "base.html" %}
{% block content %}

<div class="container is-fluid">
    <div class="main-title has-text-centered">
    <h1 class="title ">{{titulo}}</h1>
   </div>
</div> 



  <!-- si el mail es cualquiera de los 2 muestra las dos opciones  -->
  {%if current_user.email == "kenth1977@gmail.com" or current_user.email == "jceciliano69@gmail.com"%}  
    <button class="button is-rounded "><a class="has-text-warning" href="{{url_for('add_post')}}">Crear un nuevo Post</a>
    </button>
  <hr>
  {%else%}
  {%endif%}
          







<div class="flex_container">
 

{%for post in post%}
<div class="tarjetas_caminatas flex_container_box">
    <div class="">
      <!-- Aqui viene el contenido desde la base de datos post -->
      <!-- También está configurado en index o home dentro de app -->
   <div class="">
          
          <div class="card-image">
              <img class="img_card_Tarjeta"
                src="{{ url_for('static', filename='img/3.jpg')}}"
                alt="Placeholder image"
              />
           
          


          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    src="https://bulma.io/assets/images/placeholders/96x96.png"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{post.titulo|safe}}
        </p>
              </div>
            </div>

            <div class="content">
              {{post.content|safe}}
              iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
              <a href="#">#responsive</a>
              <br />
           
            </div>
          </div>

          {%if current_user.email == "kenth1977@gmail.com" or current_user.email == "jceciliano69@gmail.com"%}  
          <div class="card mt-4">
          <footer class="card-footer">
          <a href="{{url_for('add_post', id=post.id)}}" class="card-footer-item">Ver más</a>
          <a href="{{url_for('edit_post', id=post.id)}}" class="card-footer-item">Edit</a>
          <a href="{{url_for('delete_post', id=post.id)}}" class="card-footer-item">Delete</a>
          </footer>
          </div>
          {%else%}
          {%endif%}
        
        </div>
      </div>
  </div> 

    {%endfor%}
  
</div>


{% endblock %}