{% extends "base.html" %}
{% block content %} 


<div class="wrap">
	<div class="container is-max-desktop"></div>
	<div class="container_register">	
			<div class="login form">
			

		   	{% if current_user.is_authenticated %}
		    	<a class="text-success text-center" href="{{url_for('dashboard')}}"><h5>VOLVER A DASHBOARD</h5></a></header>
				<p class="text-center">
		     		<h5 class="text-center">Estás logeado con {{current_user.email}}</h5> 
		     	</p>
		     	<hr>


		     	<br>
		     	<a class="a_dash" href="{{url_for('logout')}}"><span class="icomoon-dash-ico icon-switch"></span><strong> Cerrar Sesion</strong></a>


		    {%else%}
		      	<header class="text-center header_form">REGISTRO<a class="text-danger" href="{{url_for('login')}}"><h5>Iniciar</h5></a></header>

				<form class="form-signin" action="" method="POST" name="form">
			        {{form.hidden_tag()}}

			        <div class="field">
				        <div class="control">
				        	{{form.username(placeholder="Usuario",  id="username", class="input").lower()}}
				    	</div>
			    	</div>


			    	<div class="field">
				        <div class="control">
			        {{form.email(placeholder="Email",  id="email", class="input").lower()}}
			          	</div>
			    	</div>

			    	<div class="field">
				        <div class="control">
					        <input type="text" class="input" placeholder="Celular" name="celular" id="txtNumero"
							minlength="8" maxlength="8" onkeyup="limpiarNumero(this)" onchange="limpiarNumero(this)"  required>
					    	</div>
			    	</div>	
			    	

			    	<div class="field">
				        <div class="control">	
				           		{{form.password(class="input", placeholder="Password", id="password1", type="password", required='required')}}
				        </div>
			    	</div>	


					<div class="field">
				        <div class="control">
							{{form.confirmpassword (class="input", placeholder="Confirmar el password", id="password2", type="password", required='required')}}
					   	</div>
			    	</div>

			    	<div class="field">
				        <div class="control">
							<i class="icon is-small is-right icon-eye" onclick="myFunction()"> Mostrar</i>
	      				</div>
			    	</div>



	        		<input type="submit" class="button" value="Iniciar" name="submit">
				    <a href="#">Olvidó la Contraseña?</a>
				</form>
			{%endif%}
		</div>
	 	</div>
	</div>
</div> 
</div> 


{% endblock %}













	<!-- LOGIN -->
