{% extends "base.html" %}
{% block content %} 

		   	{% if current_user.is_authenticated %}
		    	<a class="text-success text-center" href="{{url_for('dashboard')}}"><h5>VOLVER A DASHBOARD</h5></a></header>
				<p class="text-center">
		     		<h5 class="text-center">Estás logeado con {{current_user.email}}</h5> 
		     	</p>
		     	<hr>


		     	<br>
		     	<a class="a_dash" href="{{url_for('logout')}}"><span class="icomoon-dash-ico icon-switch"></span><strong> Cerrar Sesion</strong></a>


		    {%else%}

		    <div class="Form_container">
		      	<header class="text-center header_form">{{titulo}}<a class="text-danger" href="{{url_for('login')}}"> | Iniciar</a></header>

				<form class="form-signin mt-5" action="" method="POST" name="form ">
			        {{form.hidden_tag()}}

			        <div class="field">
				        <div class="control">
				        	{{form.username(placeholder="Usuario",  id="username", class="input").capitalize()}}
				    	</div>
			    	</div>


			    	<div class="field">
				        <div class="control">
			        		{{form.email(placeholder="Email",  id="email", class="input").capitalize()}}
			          	</div>
			    	</div>

			    	<div class="field">
				        <div class="control">
					        <input type="text" class="input" placeholder="Celular" name="celular" id="txtNumero"
							minlength="8" maxlength="8" onkeyup="limpiarNumero(this)" onchange="limpiarNumero(this)" required>
					    	</div>
			    	</div>	
			    	

			    	<div class="field">
				        <div class="control">	
				           		{{form.password(class="input", placeholder="Password", id="password1", type="password", required='required')}}
				        </div>
			    	</div>	


					<div class="field">
				        <div class="control">
							{{form.confirmpassword (class="input", placeholder="Confirmar el password", id="password2", type="password", required='required')}}
					   	</div>
			    	</div>

			    	<button class="button mr-100" type="button">
   						 	<span class="icon is-small">	
				    			<i class="icon is-small is-right icon-eye" onclick="myFunction()"></i>
	      			 		</span>
  					</button>
				</form>
			</div>	
			{%endif%}
		
	 	</div>
	</div>
</div> 



{% endblock %}













	<!-- LOGIN -->
