{% extends "base.html" %}
{% block content %} 

<!-- LOGIN -->
<div class="wrap">
	<div class="container_register">	
	  	<div class="container_form">
	    <input type="checkbox" id="check">
	    <div class="login form">
	      <header class="text-center header_form">Inicio | <label for="check" class="text-success">Ir a Registro</label></header>
	      
	      <form action="#">
	        <input type="text" placeholder="Ingrese su email">
	        <input type="password" placeholder="Ingrese su password" id="pass">
	        <i class="icon is-small is-right icon-eye" onclick="myFunction()"> Mostar</i>
	        <hr>

	        <a href="#">Olvidó la Contraseña?</a>
	        <input type="button" class="button" value="Login">


	      </form>
	      <div class="signup">
	        <span class="signup">Aun no tienes cuenta?
	         <label for="check">Registrate</label>
	        </span>
	      </div>
	    </div>









<!-- REGISTRO -->
	    <div class="registration form">
	      <header class="text-center header_form">Registrate | <label for="check" class="text-success">Ir a Login</label></header>
	      <form action="#">
	        <input type="text" placeholder="Ingrese su email">
	        <input type="password" placeholder="Ingrese su password" id="pass1">
	        <input type="password" placeholder="Confirmar el password" id="pass2">
	        <i class="icon is-small is-right icon-eye" onclick="myFunction()"> Mostrar</i>

	        <hr>
	        <input type="button" class="button" value="Registrarse">
	      </form>
	      <div class="signup">
	        <span class="signup">Aun no tienes cuenta?
	         <label for="check">Ir a Login</label>
	        </span>
	      </div>
	    </div>
	  </div>
	</div>
</div>


{% endblock %}
