{% extends "base.html" %}
{% block content %} 


<div class="wrap">
	<div class="container">
		<h2 class="text-center">Acerca de Este Sitio</h2>
		<h3>Versión 1.0</h3>

		<p>Este sitio está contruido con varias tecnologías web.  Esta primer versión contiene una estructura básica que permite a los participantes del grupo de La Tribu tener mayor facilidad al momento de registrarse e ingresar a obterner información de las caminatas. Por el momento dividiremos el sitio en 3 secciones para facilidad de nuestros compañer@s.</p>

		<p>Para poder realizar esto hemos buscado la mejor tecnología que permita ser fluido, cuente con hash de seguridad o encriptadores sha256 y además de el uso de un módulo aleatorio de encriptación que consiste en convertir esa seguridad en una cifrado diferente cada vez que se ingresa al sitio, haciendo literalmente imposible predecir o bulnerabilizar cualquier contraseña protegida con esta tecnología. <a href="https://pypi.org/project/bcrypt/">BCRYPT</a></p>

		<p>Para ello utilizamos el lenguaje <a href="https://www.python.org">Python 3.x</a> bajo el marco de trabajo <a href="https://flask.palletsprojects.com/en/3.0.x/">FLASK 3.0</a> que brinda ciertas ventajas de ligereza y portabilidad  a través de un entorno virtual. Este contiene todos los paquetes y sus versiones, haciendo que cada vez que exista una actualización, no provoque ningún conflicto entre librerias del sitio y por ende deje de funcionar por fallos o incompatibilidad de versiones.</p>

		<p>Este sitio utiliza paquetes y tecnologías que respaldan proyectos muy grandes como SPOTIFY, netflix, pinterest, Nasa, google entre otros. Esto se debe a que el uso y los conectores de la base de datos sea más sencillo de administrar debido a los modelos relacionales a través <a href="https://www.sqlalchemy.org/">sqlachemy</a> y facilidad de migraciones mientras que la parte grafica se administra con el motor de plantillas <a href="https://jinja.palletsprojects.com/en/3.1.x/">JINJA 3.1</a> y <a href="https://flask.palletsprojects.com/en/3.0.x/">Flask.</a></p>

		<p>En gran parte del sitio se utiliza el framework de <a href="https://getbootstrap.com/">Bootstrap</a> o <a href="https://bulma.io/">Bulma(No JS)</a> para manejar el área responsiva, <a href="https://icomoon.io/app/#/select">Icoomon</a> para todo lo relacionado con íconos, <a href="https://vuejs.org/">VUE</a> y Javascripts para la dinámica del sitio. Cuenta además con los conectores a Mysql y Sqlite que es una base de datos pequeña para pruebas aunque no es recomendada utilizar esta última para producción. Pero no menos importante una copia de respaldo o control de versiones en <a href="https://trello.com/">trello</a> y git con <a href="https://github.com/">Github</a> que permite ir llevando el paso a paso desde el nacimiento de este sitio web.</p>

		<code>LA TRIBU</code>

	</div>
</div>




{% endblock %}
