{% extends "base.html" %}
{% block content %} 


<!-- Formulario Registro -->
	<div class="wrap">

   	<div class="container">
	    <h1 class="text-center mb-4">ACTUALIZAR MI PERFIL DE USUARIO</h1>
		<!-- Enlaces para volver a login o a contactos -->
		<div class="columns">
		    <div class="column has-text-centered ">
	        	<ul class="links">
	            <li class=""><a class="link_register mt-5" href="{{ url_for('contacts')}}">Regresar</a></li>
	            <li class=""><a class="link_register mt-5" href="{{ url_for('dashboard')}}">DASHBOARD</a></li>
	            </ul>

		    </div>
		</div>
	</div>
		  
	<div class="container update_form">
		<div class="row">
			<div class="col-md-12 col-xl-6">	
     	        <form class="form-signin" action="" method="POST" name="form">
		            {{form.hidden_tag()}}

		        

            <div class="field"> <!-- MODIFICAR NOMBRE -->
			  <label class="label">MODIFICAR NOMBRE</label>
			  <div class="control has-icons-left has-icons-right">
			  	{{form.username(placeholder="Usuario", class="form-control", value=actualizar_registro.username, id="username")}}
			  </div>
			</div>

			<div class="field"> <!-- MODIFICAR PRIMER APELLIDO -->
			  <label class="label">MODIFICAR PRIMER APELLIDO</label>
			  <div class="control has-icons-left has-icons-right">
			  	{{form.apellido(placeholder="Primer Apellido", class="form-control", value=actualizar_registro.apellido, id="apellido")}}
			  </div>
			</div>

			<div class="field"> <!-- MODIFICAR SEGUNDO APELLIDO -->
			  <label class="label">MODIFICAR SEGUNDO APELLIDO</label>
			  <div class="control has-icons-left has-icons-right">
			  	{{form.apellido2(placeholder="Segundo Apellido", class="form-control", value=actualizar_registro.apellido2, id="apellido2")}}
			  </div>
			</div>

			<div class="field"> <!-- MODIFICAR RESIDENCIA -->
			  <label class="label">MODIFICAR RESIDENCIA</label>
			  <div class="control has-icons-left has-icons-right">
			  	{{form.residencia(placeholder="Residencia", class="form-control", value=actualizar_registro.residencia, id="residencia")}}
			  </div>
			</div>

			<div class="field"> <!-- MODIFICAR EMAIL -->
			  <label class="label">MODIFICAR EMAIL</label>
			  <div class="control has-icons-left has-icons-right">
			    {{form.email(placeholder="email", class="form-control", value=actualizar_registro.email, id="email")}}
			  </div>
			</div>

			<div class="field"> <!-- MODIFICAR TELEFONO --> 
			  <label class="label">MODIFICAR TELEFONO</label>
			  <div class="control has-icons-left has-icons-right">
			    {{form.telefono(placeholder="Teléfono", class="form-control", value=actualizar_registro.telefono, id="telefono")}}
			  </div>
			</div>


			<div class="field"> <!-- MODIFICAR TELEFONO EMERGENCIA -->
			  <label class="label">MODIFICAR TELEFONO</label>
			  <div class="control has-icons-left has-icons-right">
			    {{form.telefonoE(placeholder="Teléfono Emergencia", class="form-control", value=actualizar_registro.telefonoE, id="telefonoE")}}
			  </div>
			</div>			


			<div class="field"> <!-- MODIFICAR CELULAR-->
			  <label class="label">MODIFICAR CELULAR</label>
			  <div class="control has-icons-left has-icons-right">
			    {{form.celular(placeholder="Celular", class="form-control", value=actualizar_registro.celular, id="celular")}}
			  </div>
			</div>

			<div class="field"> <!-- MODIFICAR ALERGIAS-->
			  <label class="label">MODIFICAR ALERGIAS</label>
			  <div class="control has-icons-left has-icons-right">
			    {{form.alergias(placeholder="Alergias", class="form-control", value=actualizar_registro.alergias, id="alergias")}}
			  </div>
			</div>

			<div class="field"> <!-- MODIFICAR TIPO DE SANGRE-->
			  <label class="label">MODIFICAR TIPO DE SANGRE</label>
			  <div class="control has-icons-left has-icons-right">
			    {{form.tiposangre(placeholder="Tipo de Sangre", class="form-select", value=actualizar_registro.tiposangre, id="tiposangre")}}
			  </div>
			</div>

			<div class="field"> <!-- MODIFICAR ENFERMEDADES CRÓNICAS-->
			  <label class="label">MODIFICAR ENFERMEDADES CRÓNICAS</label>
			  <div class="control has-icons-left has-icons-right">
			    {{form.cronico(placeholder="Enfermedades Crónicas", class="form-control",  value=actualizar_registro.cronico, id="cronicos")}}
			  </div>
			  <!-- <p class="help is-danger">This email is invalid</p> -->
			</div>

			<div class="field"> <!-- MODIFICAR MEDICAMENTOS-->
			  <label class="label">MODIFICAR MEDICAMENTOS</label>
			  <div class="control has-icons-left has-icons-right">
			    {{form.medicamentos(placeholder="Medicamentos", class="form-control", value=actualizar_registro.medicamentos, id="medicamentos")}}
			  </div>
			</div>

			<div class="field"> <!-- MODIFICAR MEDICAMENTOS-->
			  <label class="label">MODIFICAR FECHA DE NACIMIENTO</label>
				<div class="control has-icons-left has-icons-right">
				    {{form.nacimiento(placeholder="Fecha de Nacimiento", class="form-control", value=actualizar_registro.nacimiento, id="nacimiento")}}
				</div>
			</div>

  			<hr> <!-- BOTON ACTUALIZAR -->
            <button type="submit" name="Registrarme" action="{{ url_for('dashboard')}}" class="button is-danger is-light mt-5 mr-5">ACTUALIZAR DATOS</button>
            <a class="button is-warning is-light mt-5 ml-5" href="{{ url_for('dashboard')}}">SALIR</a>

		    </form>
	        </div>

















	    <div class="col-md-12 col-xl-6">	    
	    	<div class="container cont_card">
		<div class="image_tp_card">


			{% if current_user.is_authenticated%}
				<h4 class="title_card">{{actualizar_registro.username}} {{actualizar_registro.apellido}} {{actualizar_registro.apellido2}}</h4>
				<p class="text-center tel_emergencia"><strong>TELEFONO EMERGENCIA 1: </strong><span class="icon-whatsapp"></span> + {{actualizar_registro.telefonoE}}</p>

				<img class="img_card" src="{{ url_for('static', filename='img/card.jpg') }}" alt="">
		
				<div class="ts_container">	
					<div class="tipo_sangre"></div>
					<div class="title_ts">Tipo de Sangre</div> <h1 class="text_ts text-center">{{actualizar_registro.tiposangre | upper }}</h1>
				</div>


				<hr>
			
				
			<ul class="ul_dash">
				{%if actualizar_registro.residencia or actualizar_registro.telefono or actualizar_registro.celular%}	
			  		<li><strong>Residencia: </strong>{{actualizar_registro.residencia | title }}</li>
		  			<li><strong>Mi Teléfono: </strong>{{actualizar_registro.telefono}}</li>
		  			<li><strong>TELEFONO EMERGENCIA 2: </strong>{{actualizar_registro.celular}}</li>
		  			<br>
		  		{%else%}
		  		{%endif%}		

		  		<h4><span class="icon-aid-kit"></span> Perfil de salud:</h4>

		  		<div class="listaSalud">
			  		<li><strong>ALERGIAS: </strong>{{actualizar_registro.alergias | title }}</li>
			  		<li><strong>TIPO DE SANGRE: </strong>{{actualizar_registro.tiposangre | title }}</li>
			  		<li><strong>ENFERMEDADES CRÓNICAS: </strong>{{actualizar_registro.cronico | title }}</li>
			  		<li><strong>MEDICAMENTOS: </strong>{{actualizar_registro.medicamentos | title }}</li>
		  		</div>

			<hr>
				<div class="">FECHA NACIMIENTO: </strong>{{actualizar_registro.nacimiento | title }}</li>	
				<div class="text_footer">EMAIL: {{actualizar_registro.email}}</div>


			</ul>
			{% endif %}
		</div>
	</div>
		

      	</div>

	</div>  
</div> 


{% endblock %}


