{% extends "base.html" %}
{% block content %} 

<div class="wrap">

   	<div class="container">
	    <h1 class="text-center mb-4">{{title}}</h1>
		<!-- Enlaces para volver a login o a contactos -->
		<div class="columns">
		    <div class="column has-text-centered ">
	        	<ul class="links">
	            <li class=""><a class="link_register mt-5" href="{{ url_for('contacts')}}">Regresar</a></li>
	            <li class=""><a class="link_register mt-5" href="{{ url_for('dashboard')}}">DASHBOARD</a></li>
	            </ul>
		    </div>
		</div>
	</div>



	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xl-6">	
     	        
	     	    <form class="form-signin" action="" method="POST" name="form">
			    {{form.hidden_tag()}}

			        

	            <div class="field"> <!-- MODIFICAR USUARIO -->
				  <label class="label">MODIFICAR NOMBRE</label>
				  <div class="control has-icons-left has-icons-right">
				  	{{form.usuario(placeholder="Usuario", class="form-control")}}
				  </div>
				</div>

				<div class="field"> <!-- MODIFICAR AVATAR-->
				  <label class="label">MODIFICAR PRIMER APELLIDO</label>
				  <div class="control has-icons-left has-icons-right">
				  	{{form.avatar(placeholder="Avatar", class="form-control")}}
				  </div>
				</div>

				<div class="field"> <!-- MODIFICAR DETALLE -->
				  <label class="label">MODIFICAR DETALLE</label>
				  <div class="control has-icons-left has-icons-right">
				  	{{form.detalle(placeholder="Detalle", class="form-control")}}
				  </div>
				</div>

				<div class="field"> <!-- MODIFICAR VIDEO -->
				  <label class="label">MODIFICAR VIDEO</label>
				  <div class="control has-icons-left has-icons-right">
				  	{{form.video(placeholder="Video", class="form-control")}}
				  </div>
				</div>

			<hr> <!-- BOTON ACTUALIZAR -->
            
            <button type="submit" name="Registrarme" action="{{ url_for('dashboard')}}" class="button is-danger is-light mt-5 mr-5">ACTUALIZAR DATOS</button>
            <a class="button is-warning is-light mt-5 ml-5" href="{{ url_for('dashboard')}}">SALIR</a>


</div>

{% endblock %}


