{% extends "base.html" %}
{% block content %} 


<div class="wrap">
	<div class="container video_container">
		<h1>{{title}}</h1>

		<p class="video_text">Lorem ipsum, dolor sit amet consectetur adipisicing, elit. Explicabo vero, corrupti, quo molestias corporis, doloremque cupiditate officia dolorem eius impedit, reprehenderit fuga qui esse asperiores sed? Facilis eaque temporibus, maxime.
		A possimus delectus autem dolores, architecto magnam consectetur debitis adipisci amet sint beatae corporis doloremque. Deserunt itaque velit, sed deleniti, voluptates nisi vitae asperiores earum veniam fuga ab officiis nulla!
		Quo dolorum incidunt voluptatum, labore amet. Accusantium quo corrupti at a quas delectus illo laudantium dolorem assumenda modi ex ullam, facilis fugiat nulla doloribus. Quasi amet qui repellat consequatur consectetur.</p>

		<p class="video_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates quibusdam ad debitis asperiores molestias, dicta quas animi quo eos iste beatae rerum magni reprehenderit cum? Assumenda et enim rerum, nulla.
		Libero animi unde error explicabo, corporis veniam, quisquam culpa odio repellat necessitatibus harum aliquam corrupti consequuntur repudiandae voluptas voluptate labore itaque beatae architecto aperiam accusamus magni nemo nam dolore ducimus.
		Quisquam rerum beatae provident sint. Nulla a quidem illo, laborum veritatis eum eligendi, dolorem velit nostrum ad quae aperiam, architecto ipsam maiores sit accusantium quaerat voluptatem labore quam ea officia.</p>
	</div>
</div>

{% endblock %}
