{% extends "base.html" %}
{% block content %} 


<div class="wrap">
	<div class="container mb-5">
		<h1 class="text-center">MULTIMEDIA</h1>
	</div>	


	<div class="container">
		<div class="btn">
			<a href="{{url_for('add_Video')}}">AGREGAR UN NUEVO VIDEO</a>
		</div>
	</div>


	{%for item in value%}
		<div class="container">
			<p>{{item.usuario | safe}}</p>
			<p>{{item.avatar | safe}}</p>
			<p>{{item.detalle | safe}}</p>
			<p>{{item.video | safe}}</p>
		</div>
	{%endfor%}

		
	</div>
</div>
{% endblock %}
